@import "../../assets/scss/layout/card";
@import "../../assets/scss/abstract/fonts";
@import "../../assets/scss/abstract/colors";
@import "../../assets/scss/components/buttons";

.form-bg-img {
  width: 100%;
  height: 100vh;
}

.form-card {
  .form-title {
    @include open-sans-bold;
    color: $black-color;
    font-size: 30px;
  }

  .form-label {
    font-size: 15px;
    padding-top: 10px;
    @include poppins-regular;
  }

  .form-input {
    border: 1px solid $quill-gray;
    border-left: 0px;
    &::placeholder {
      color: $quill-gray;
      font-size: 13px;
    }
    &:focus {
      border-color: $quill-gray;
      outline-style: none;
      box-shadow: none;
    }
  }

  .input-username-icon {
    background: url(../../assets/icons/user-name.png);
    background-position-x: center;
    background-position-y: center;
    background-size: 20px 20px;
    opacity: 0.7;
    background-repeat: no-repeat;
    background-color: $white-color;
    border-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-color: $quill-gray;
    min-width: 35px;
    min-height: 40px;
  }

  .input-useremail-icon {
    background: url(../../assets/icons/user-email.png);
    background-position-x: center;
    background-position-y: center;
    background-size: 20px 20px;
    opacity: 0.7;
    background-repeat: no-repeat;
    background-color: $white-color;
    border-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-color: $quill-gray;
    min-width: 35px;
    min-height: 40px;
  }
  .input-userpass-icon {
    background: url(../../assets/icons/user-pass.png);
    background-position-x: center;
    background-position-y: center;
    background-size: 20px 20px;
    opacity: 0.7;
    background-repeat: no-repeat;
    background-color: $white-color;
    border-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-color: $quill-gray;
    min-width: 35px;
    min-height: 40px;
  }
  .input-user-re-pass-icon {
    background: url(../../assets/icons/user-re-pass.png);
    background-position-x: center;
    background-position-y: center;
    background-size: 20px 20px;
    opacity: 0.7;
    background-repeat: no-repeat;
    background-color: $white-color;
    border-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-color: $quill-gray;
    min-width: 35px;
    min-height: 40px;
  }
  .error-msg {
    color: $red-color;
  }
}
